# Dependency directories
/node_modules

# Build output
/build
/dist

# Environment variables
.env

# Logs
/logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
.pnpm-debug.log*

# Editor-specific files
.vscode
.idea
*.sublime-*

# Operating System files
.DS_Store
Thumbs.db

# User-specific files
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Others
_site
_posts
.sass-cache
.jekyll-cache
.jekyll-metadata
vendor